nav {
    margin: 0;
    display: flex;
    position: sticky;
    padding: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgb(211, 84, 0), rgba(211, 84, 0, 0.9), rgba(116, 62, 0, 0.25));
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.navbar-container {
    color: rgb(236, 244, 255);
    margin-top: 0;
    position: relative;
    height: 80px;
    display: flex;
    width: 100%;
    max-width: 1100px;
    
    /* background-color: red; */
    padding: 0 24px;
    justify-content: space-between;
    
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 100;
    min-width: 80px;
    cursor: pointer;
}

.nav-menu-container {
    width: 60%;
    display: flex;
    align-items: center;
    min-width: 270px;
    justify-content: flex-end;
}

.nav-menu {

    padding-inline-start: 0;
    padding-inline-end: 0;
    display: flex;
    width: 100%;
    max-width: 400px;
    font-weight: 300;
    list-style: none;
    justify-content: space-between;
    margin-right: 20%;

    
}

.nav-menu__item {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-menu__item:hover {
    color: white;
}

.nav-menu__item--link {
    cursor: pointer;
}


.nav-underline {
    content: '';
    position: absolute;
    background-color: white;
    height: 1px;
    width: 90%;
    bottom: 0;
    transform-origin: left;
    transform: scale(0);
    transition: 0.3s;
}

.nav-menu__item:hover .nav-underline {
    transform-origin: right;
    transform: scale(1)
}



.mobile-icon {
    display: none;
    flex-direction: column;
    width: 30px;
    padding: 20px 0;
    position: relative;
    justify-content: center;
  
}

.mobile-icon:hover{
    cursor: pointer;
}

.hamburger{ 
    background-color: rgb(236, 244, 255);
    width: 100%;
    height: 2px;
    margin: 3px 0;
    border-radius: 20%;
    transition: transform 0.5s;
    transition: 0.5s;
    transform-origin: left;
}

.times .hamburger1 {
  
    transform-origin: left;
    width: 75%;
    transform: rotate(45deg);
   
}

.times .hamburger2 {
    transform: translateX(200px)
}

.times .hamburger3 {
    width: 75%;
    transform-origin: left;
    transform: rotate(-45deg);

}

@media screen and (max-width: 768px) {
    .navbar-container{transition: all 0.2s ease;}
    .logo-container{justify-self: start;}
    .nav-menu-container{
        display: flex;
        position: absolute;
        background-image:linear-gradient(to bottom, rgba(211, 84, 0, 0) 0%, rgba(116, 62, 0, 0.9) 20%);
        width: 90%;
        top: 80px;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: flex-start;
        padding: 96px;
        transform: translateY(calc(-100% - 80px));
        opacity: 0;
        margin: 0;
        z-index: -1; 
        margin-right: 0;
    }
    .nav-menu{
       margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    padding-inline-start: 0;}
    .nav-menu li {text-align: center; margin: 0;}
    
        .nav-underline {width: 40%;}

    .mobile-icon{
        display: flex;
    }
    
    
    .active{
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
        opacity: 100%;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;

    }
    .nav-menu__item {
        font-size: 1.8rem;
        padding-top: 52px;
        padding-bottom: 12px;
    }
}



