footer {line-height: 1.75;
background: rgb(243, 240, 234);
color: rgb(75, 72, 72);}




.select-country {
    margin-bottom: 1rem;
}

.select-country select {
    position: absolute;
    left: 3vw;
    width: 8rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(75, 72, 72);
}

.footer-links__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: relative;
}

.footer-column__wrapper {
    display: flex;
    flex-direction: column;  
}

.Contact {
    padding-left: 4vw;
}

.footer-column__wrapper a {
    color:  rgb(75, 72, 72);
    font-size: 0.8rem;
}

.footer-column__headline {
  
    font-weight: 500;
    margin-bottom: .4rem;
}

.footer__col1 {
    
}

.social-media__container {
   position: absolute;
   bottom: 2vh;
   left: 2vh;
   border: 1px solid rgb(19, 15, 27);
   border-radius: 2px;
   padding: 4px 0;
  
}

.social-media__container a {
    color: rgb(19, 15, 27);
    margin: 0 16px;
    font-size: 1.2rem;
    
  
}

.footer-legal__statement {
    font-size: 0.6rem;
}